Faker==37.1.0
allure-pytest==2.14.1
allure-python-commons==2.14.1
beautifulsoup4==4.13.4
black==25.1.0
isort==6.0.1
jsonschema==4.23.0
pip==25.1
pydantic==2.11.3
pytest==8.3.5
requests==2.32.3
selene==2.0.0rc9
selenium==4.31.0
webdriver-manager==4.0.2
