allure-pytest==2.13.5
allure-python-commons==2.13.5
webdriver-manager==4.0.1
pip==24.0
pytest==8.2.1
pydantic==2.7.1
requests==2.32.2
isort==5.13.2
black==24.4.2
Faker==25.2.0
selene==2.0.0rc9
selenium==4.21.0
jsonschema==4.22.0