allure-pytest==2.13.5
allure-python-commons==2.13.5
beautifulsoup4==4.12.3
webdriver-manager==4.0.2
pip==24.2
pytest==8.3.3
pydantic==2.9.2
requests==2.32.3
isort==5.13.2
black==24.8.0
Faker==30.0.0
selene==2.0.0rc9
selenium==4.25.0
jsonschema==4.23.0